
<div id="table1" *ngIf='exportsList.length > 0'>
<h3 class="first">Lista exportów</h3>
<p-table [value]="exportsList" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Nazwa</th>
            <th>Data</th>
            <th>Godzina</th>
            <th>Użytkownik</th>
            <th>Lokal</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exp>
        <tr>
            <td>{{exp.nameExport}}</td>
            <td>{{exp.startDate | date: 'dd.MM.yy'}}</td>
            <td>{{exp.startDate | date: 'hh.mm'}}</td>
            <td>{{exp.user}}</td>
            <td>{{exp.lokal}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
