<div class='container'>
  <div class='.col-md-2'>
      <div class='row'><p-dropdown [options]="lokal" [(ngModel)]="selectedLokalFilter" optionLabel="name" placeholder="Wybierz lokal" ></p-dropdown></div>
      <div class='row'><p-calendar [(ngModel)]="startDateFilter" showTime="true" (onClose)="getMinFinishDate()" (onSelect)='clearFinish()'placeholder="Od:"></p-calendar></div>
      <div class='row'><p-calendar [(ngModel)]="finishDateFilter" showTime="true" [disabled]="!startDateFilter" [minDate]="minFinishDate" placeholder="Do:"></p-calendar></div>
      <div class='row'> <button type="button" class="btn btn-primary" (click)="getExport()" [disabled]='!startDateFilter || !finishDateFilter || !selectedLokalFilter'>Zatwierdź</button></div>

  </div>
  <div class='.col-md-10'></div>

</div>


